
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(236, 236, 236);
}

#title {
    text-align: center;
}

#subtitle {
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons button {
    height: 35px;
    width: 150px;
    font-size: medium;
    font-weight: 400;
    border: none;
    color: rgb(238, 238, 238);
    border-radius: 5px; 
    margin: 5px;   
}
#addButton {
    background-color: green;
    
}
#clearButton {
    background-color: red;
}


#images-container {  
    display: flex;
    flex-direction: column;

}

img {
    border-radius: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}